/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-weight: 400;
		font-size: 100%;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 0; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
	html {
		box-sizing: border-box;
	}

/* #Basic Styles
================================================== */
	body {
		font-size: 20px;
		font-size:2rem;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3 {
		font-family: "Sentinel Ssm A", "Sentinel Ssm B", "Helvetica", sans-serif;
		font-weight: 800;
		}
	h4, h5, h6 {
		font-family: "Verlag A", "Verlag B", "Helvetica", sans-serif;
		font-weight: 800;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 59px; font-size: 5.9rem; line-height: 1.0; }
	h2 { font-size: 46px; line-height: 50px; margin-bottom: 30px;}
	h3 { font-size: 35px; line-height: 40px; margin-bottom: 30px; }
	h4 { font-size: 28px; line-height: 34px; margin-bottom: 30px; }
	h5 { font-size: 21px; line-height: 30px; margin-bottom: 30px; }
	h6 { font-size: 17px; line-height: 24px; margin-bottom: 20px; }
	
	.wf-loading p { visibility: hidden; }
	.wf-active p { visibility: visible; }
	p { font-size: 16px; font-size: 1.6rem; margin: 0 0 20px 0; line-height: 1.6; letter-spacing: -1px; font-family: "Sentinel Ssm A", "Sentinel Ssm B", "Helvetica", sans-serif;}
	p.lead { font-size: 28px; font-size: 2.8rem; }
	p img { margin: 0; }
	span { font-family: "Sentinel Ssm A", "Sentinel Ssm B", "Helvetica", sans-serif; letter-spacing: -1px; }

	em { font-style: italic; }
	strong { font-weight: 700; }
	small { font-size: 80%; }
	.uppercase { text-transform:uppercase; }
	.normal { font-weight: normal; }


/*	Blockquotes  */
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
	blockquote { border-left: 3px solid #ef4723; margin: 0 0 30px; padding: 0px 20px 0px 19px; }
	blockquote p { color: #ef4723; font-style: italic; font-size: 18px; font-size: 1.8rem; margin-bottom: 15px}
	blockquote cite { display: block; color: #555; font-style: normal; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; font-size: 10px; font-size: 1.0rem; }
	blockquote p, blockquote cite { font-family: "Verlag A", "Verlag B", "Helvetica", sans-serif; line-height: 1.3; }

	hr { border: solid #ddd; border-width: 3px 0 0; clear: both; margin: 10px 0 20px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; border-bottom: #333; outline: 0; }
	a:hover, a:focus { color: #ef4723; border-bottom: none; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }

/* #Buttons
================================================== */

	.button {
		padding: 10px 30px;
		display: inline-block;
	}

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; margin-bottom: 1rem !important; }
	.add-bottom { margin-bottom: 20px !important; margin-bottom: 2rem !important; }
	.add-2x-bottom { margin-bottom: 40px !important; margin-bottom: 4rem !important; }
	.add-4x-bottom { margin-bottom: 80px !important; margin-bottom: 8rem !important; }
	.fourth-top { margin-top: 20px; margin-top: 2rem !important; }
	.half-top { margin-top: 40px; margin-top: 4rem !important;}
	.add-top { margin-top: 80px; margin-top: 8rem !important; }
	.subtract-top { margin-top: -40px; margin-top: -4rem !important; }
	
	.lspaced-5 { letter-spacing: 5px; letter-spacing: .5rem; }
	.lspaced-10 { letter-spacing: 10px; letter-spacing: 1rem; }
	.wspaced-10 { word-spacing: 10px; word-spacing: 1rem; }
	.remove-right { margin-right: 0 !important; }

	.circle {
    border-radius: 50%;
	}

	.vertical-align {
		position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
	}


