	::-webkit-scrollbar {
		display: none;
	}
	
	.slide {
		position: relative;
		margin: 0 auto;
		width: 100%;
		padding: 100px 0 200px 0;
		padding: 10rem 0 20rem 0;
		height: 500px;
		height: 50rem;
		display: block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.align-left { text-align: left; }
	.align-right { text-align: right; }

	#parallax {
		min-height: 400px;
		background: #f4e690;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	#parallax-container .notice { position: fixed; right: 20px; top: 20px; background-color: #f7f7f7; padding: 5px 20px; border-radius: 30px; color: #333; -webkit-transition: opacity 0.3s linear; -moz-transition: opacity 0.3s linear; -o-transition: opacity 0.3s linear; -ms-transition: opacity 0.3s linear; transition: opacity 0.3s linear; opacity: 0; z-index: 9999; backface-visibility: hidden; -webkit-backface-visibility: hidden; -webkit-perspective: 1000; font-size: 14px;}
	#parallax-container.alert .notice { position: fixed; right: 20px; top: 20px; opacity: 1; z-index: 9999; backface-visibility: hidden; -webkit-backface-visibility: hidden; -webkit-perspective: 1000; }
	

	header { left:0; right:0; margin-left:auto; margin-right:auto; width: 100%; min-width: 300px; text-align: center; }
	header.desktop {
		position: absolute; 
		animation-delay: 2.5s;
		    -webkit-animation-delay: 2.5s;
		    -moz-animation-delay: 2.5s;
		    -o-animation-delay: 2.5s;
		    -ms-animation-delay: 2.5s;
	}
	header h1 { padding-top: 100px; }
	header h6 { text-transform: uppercase; font-size: 22px; font-size: 2.2rem; color: #d0512f;}
	
	#about { background-color: #1c0806; color: #ccc; -webkit-transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; -ms-transition: background-color 0.3s linear; transition: background-color 0.3s linear; -webkit-backface-visibility: hidden; -webkit-perspective: 1000;}
	#about .sixteen.columns { display: block; }
	#about .circle { width: 60px; height: 60px; background: #f7f7f7; display: inline-block; margin-right: 5px; vertical-align: middle;}
	#about .circle img { width: 70%; height: auto; }
	#about h5 { display: inline-block; vertical-align: middle; margin-bottom: 0; margin-right: 5px; }
	#about h6 { font-size: 28px; font-size: 2.8rem; display: inline-block; margin-bottom: 30px; }
	#about div.button { padding: 10px; border: #ccc solid 3px; border-radius: 100px; vertical-align: middle; }
	#about span { font-family: 'Sentinel Ssm A', 'Sentinel Ssm B', Georgia, sans-serif; font-style: italic; text-transform: none; vertical-align: top; margin: 0 5px;}
	#about hr { width: 175px; border: solid 4px #d0512f; margin-bottom: 40px; }
	#about a, #about a:visited { font-weight: bold; color: #eee; text-decoration: none; padding-bottom: 2px; border-bottom: 1px solid #eee; }
	#about a.button { padding: 0; border: none; }
	#about a.button:hover div.button { background-color: #d0512f; border-color: #d0512f; color: #fff; -webkit-transform:translateZ(0); -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out}
	#about .workplay, #about .workedplayed, #about .playwork { padding-bottom: none; border: none; }
	#about .workplay span, #about .workedplayed span, #about .playwork span { color: #ccc; font-style: normal; vertical-align: none; padding-bottom: 10px; margin: 0;}
	#about .workplay:hover span, #about .workedplayed:hover span, #about .playwork:hover span { display: none; cursor: default; }
	#about .workplay:hover, #about .workedplayed:hover, #about .workplay:hover { cursor: default; }
	#about .workplay:hover:before { content: "play"; cursor: default; }
	#about .workedplayed:hover:before { content: "played with"; cursor: default; } 
	#about .playwork:hover:before {content: "work"; cursor: default; }
	#about a:hover { color: #fff; }
	
	#portfolio { background-color: #ccc; color: #fff; padding: 0; height: 680px; height: 68rem; }
	#portfolio a { text-decoration: none; border-bottom: none; font-size: 0; }
	#portfolio .item {width: 50%; height: 25%; display: inline-block !important; text-align: center; transition: opacity .25s ease-out; -moz-transition: opacity .25s ease-out; -webkit-transition: opacity .25s ease-out; z-index: 1; /* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; /* IE 5-7 */ filter: alpha(opacity=85); /* Netscape */ -moz-opacity: 0.85; /* Safari 1.x */ -khtml-opacity: 0.85; /* Good browsers */ opacity: 0.85; -webkit-backface-visibility: hidden; position:relative; }
	#portfolio .item:hover { /* IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 5-7 */ filter: alpha(opacity=100); /* Netscape */ -moz-opacity: 1.0; /* Safari 1.x */ -khtml-opacity: 1.0; /* Good browsers */ opacity: 1.0; cursor: pointer; }
	.item {background-size: cover; background-position:center center;}
	#labelgearsolid {background-image: url('../images/header-label-gear-solid.png')}
	#lgn {background-image: url('../images/header-lgn.png')}
	#xenos {background-image: url('../images/header-xenos.png')}
	#quandary {background-image: url('../images/header-quandary.png')}
	#unaoc {background-image: url('../images/header-createunaoc.png')}
	#courtship {background-image: url('../images/header-courtship.png')}
	#simondene {background-image: url('../images/header-simondene.png')}
	#twentyonecb {background-image: url('../images/header-21cb.png')}

	#testimonial { }

	#social { background-color: #1c0806; padding: 0; -webkit-transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; -ms-transition: background-color 0.3s linear; transition: background-color 0.3s linear; -webkit-backface-visibility: hidden; -webkit-perspective: 1000;}
	#social h4 { font-size: 16px; margin-bottom: 10px; line-height: 1.4;}
	#social .now-reading img, #social .now-listening img {height: 50px; width: auto; float: left; margin-right: 10px; box-shadow: 1px 1px 2px #ccc; -webkit-transition: all 0.05s linear; -moz-transition: all 0.05s linear; -o-transition: all 0.05s linear; -ms-transition: all 0.05s linear; transition: all 0.05s linear;}
	#social .now-reading img:hover, #social .now-listening img:hover {height: 65px; width: auto; }
	#social .now-reading p, #social .now-listening p { font-size: 14px; }
	#social .now-reading a, #social .now-listening a { text-decoration: none; padding-bottom: 1px; border-bottom: 1px #333 solid; }
	#social .now-reading a:hover, #social .now-listening a:hover { border-bottom: 1px #d0512f solid;}
	#social .favorite-things { overflow: hidden; }
	#social .favorite-things div { display: inline-block; float: left;}
	#social .favorite-things i { margin-right: 8px; display: inline-block; vertical-align: middle; }
	#social .favorite-things span { font-size: 16px; font-size: 1.6rem; display: inline-block; vertical-align: middle; margin-right: 40px;}
	#social .social-icons a { display: block; margin-bottom: 20px; text-decoration: none; }
	#social .social-icons i { margin-right: 30px; width: 10px; display: inline-block; vertical-align: middle; }
	#social .social-icons a span { font-size: 12px; font-size: 1.2rem; text-decoration: none; border-bottom: none; display: inline-block; vertical-align: middle;}
	#social .social-icons a:hover { color: #d0512f; }
	#social hr { width: 80px; border: solid 4px #d0512f; margin: 0px 0 20px 0; }
	#social p.tweet:before { content: '“'; font-weight:bold; }
	#social p.tweet:after { content: '”'; font-weight:bold; }
	#social p.tweet { font-size: 12px; font-size: 1.2rem; font-style: italic; letter-spacing: 0; line-height: 1.6; color: #666;}
	#social p.tweet a { font-weight: bold; text-decoration: none; padding-bottom: 2px; letter-spacing: 0; border-bottom: 1px solid #666; color: #666;}
	#social p.tweet a span { font-weight: bold; }
	#social p.tweet a:hover { color: #d0512f; border-bottom: 1px solid #d0512f; }
		
	#contact { background-color: #fff; padding: 0; }
	#contact .michael-photo { width: 50%; height: 100%; float: left; background: url('../images/me-photo.jpg') center no-repeat; background-size: cover;}
	#contact .michael-contact { width: 50%; height: 100%; float: right; background-color: #fff; box-sizing: border-box;}
	#contact h3 { font-size:60px; font-size:6rem }
	#contact a, #contact a:visited { color: #e3e0db; }
	#contact a:hover { color: #ef4723; -webkit-transition: color 0.5s; transition: color 0.35s; }
	.contact-top { height: 40%; padding: 40px; box-sizing: border-box; }
	.contact-top blockquote { border-left: 3px solid #ccc; padding-bottom: 10px;}
	.contact-top p { color: #1c0806; font-size: 20px; font-size: 2.0rem; line-height: 1.3; margin-bottom: 10px}
	.contact-top cite { font-style: normal; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; font-size: 10px; font-size: 1.0rem;}
	.contact-top p, .contact-top cite { font-family: "Verlag A", "Verlag B", "Helvetica", sans-serif; }
	.contact-bottom { height: 60%; padding: 40px; box-sizing: border-box; background-color: #ef4723;}
	.contact-bottom p { color: #f7f7f7; font-size: 20px; font-size: 2.0rem;}
	#mc_embed_signup input {
		background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
		padding: 10px 0 10px 30px;
		box-sizing: border-box;
		width: 100%;
		border: 3px solid #c9c9c9;
		margin-bottom: 20px;
		color: #fff;
		border-radius: 30px;
		font-family: "Verlag A", "Verlag B", "Helvetica", sans-serif;
		white-space: normal;
	}
	#mc_embed_signup input::-webkit-input-placeholder { color: #fff; } #mc_embed_signup input:-moz-placeholder { color: #fff; opacity: 1; } #mc_embed_signup input::-moz-placeholder { color: #fff; opacity: 1; } #mc_embed_signup input:-ms-input-placeholder { color: #fff; }
	#mc_embed_signup input[type="submit"] {
		background-color: #fff;
		border: 3px solid #fff;
		color: #ef4723;
		padding: 10px 0; 
		font-family: "Verlag A", "Verlag B", "Helvetica", sans-serif;
		font-weight: 800;
		font-size: 14px;
		font-size: 1.4rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		transition: all .3s linear; 
	}
	#mc_embed_signup input[type="submit"]:hover {
		background-color: #1c0806;
		border: 3px solid #1c0806;
		color: #fff;
	}
	#mc_embed_signup input:focus {
		outline: none;
		border: 3px solid #fff;
	}
	
	.stage {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 0;
	}
	
	#tarpits, #capitalist, #current-music, #current-reading { display:none; padding: 30px; background: #FFF; box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7); max-width: 85%; }
	
	#tarpits img, #capitalist img, #current-music img, #current-reading img { width: 100%; }

	.copyright-props {
		height: 50px;
		padding: 0 20px;
		background-color: #1c0806;
		bottom: 0;
		text-align: center;
		display: block;
	}

	.copyright-props .copyright, .copyright-props .props {
		font-size: 14px;
		font-family: "Verlag A", "Verlag B", "Helvetica", sans-serif;
		color: #ccc;
		display: block;
		letter-spacing: 0;
		margin-bottom: 0;
	}
	.copyright-props .props a {
		color: #eee;
		font-weight: bold;
	}
	.copyright-props .props a:hover {
		color: #fff;
	}
	
	#lean_overlay {
    position: fixed;
    z-index:10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
	}
	
	@media screen and (max-height: 31.125em) {
	}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */


	@media (min-width: 1401px) {
		html {
			font-size: 13px;
		}
		#about p, #about span { font-size: 14px; font-size:1.4rem !important; }
	}
	
	@media (max-width: 1400px) {
		html {
			font-size: 12px;
		}
		#about p, #about span { font-size: 16px; font-size:1.6rem !important; }
	}
	
	/* target screen width  */
	@media (max-width: 1280px) {
		html {
			font-size: 11px;
		}
	}
		
	@media (max-width: 1160px) {
		html {
			font-size: 11px;
		}
	}
		
	@media (max-width: 1040px) {
		html {
			font-size: 10px;
		}
	}
		
	@media (max-width: 960px) {
		html {
			font-size: 10px;
		}
	}

	/* Larger than Mobile */
	@media only screen and (min-width: 768px) {
		.container { margin-top: 100vh;}
		#about { padding: 0; }
		#about h5 { font-size: 12px; }
		/* Scrolled */
		#parallax-container.scrolled .notice { background-color: #1c0806; color: #ccc; -webkit-transform:translateZ(0); -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; transition: all 0.3s linear; -webkit-backface-visibility: hidden; -webkit-perspective: 1000;}
		#about.scrolled { background-color: #f7f7f7; -webkit-transition: background-color 0.5s linear; -moz-transition: background-color 0.5s linear; -o-transition: background-color 0.5s linear; -ms-transition: background-color 0.5s linear; transition: background-color 0.5s linear; -webkit-backface-visibility: hidden; -webkit-perspective: 1000;}
		#about.scrolled .sixteen.columns { display: none; }
		#social .row { display: none; }
		#social.scrolled { background-color: #f7f7f7; -webkit-transition: background-color 0.5s linear; -moz-transition: background-color 0.5s linear; -o-transition: background-color 0.5s linear; -ms-transition: background-color 0.5s linear; transition: background-color 0.5s linear; -webkit-backface-visibility: hidden; -webkit-perspective: 1000;}
		#social.scrolled .row { display: block; }
		.copyright-props .copyright { float: left;}
		.copyright-props .props { float: right ;}

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		html, body, .container { height: 100%; font-size: 8px; }
		
		.slide {
		position: relative !important;
		top: 0 !important;
		margin: 0 auto;
		width: 100%;
		overflow: hidden;
		height: auto !important;
		padding: 100px 15px 200px 15px;
		padding: 10rem 1.5rem 20rem 1.5rem;
		min-height: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}
		
		.center-if-mobile {text-align:center;}
		
		#about { padding: 40px 20px 120px; }
		#about p, #about span { font-size: 24px; font-size:2.4rem !important; }
		#about h5 { font-size: 12px; word-break: break-word; max-width: 200px; line-height: 1.6; }
		#social {
			background-color: #fff;
			padding: 60px 20px;
		}
		#social .favorite-things, #social .social-icons {
			overflow: hidden;
		}
		#social .social-icons {
			width: 50%;
			margin-bottom: 30px !important;
		}
		#social .favorite-things {
			margin-bottom: 30px !important;
		}
		#social .favorite-things div {
			margin-bottom: 20px;
			width: 50%;
		}
		#social div.now-reading, #social div.now-listening {
			overflow: hidden; margin-bottom: 40px !important;
		}
		#social .favorite-things i, #social .favorite-things span, #social .social-icons a span, #social .social-icons a i, #social p.tweet {
			font-size: 16px;
			word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;
		}
		#social .row {
			display: block;
			top: 0;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
		
		#portfolio { padding: 0; height: auto; background-color: #fff; }
		#portfolio .item {width: 100%; height: 200px; text-align: center; transition: all .5s; -webkit-transition: all .5s; z-index: 1;}
		#portfolio .item:hover {background-color: rgba(0,0,0,0.5);}

		#contact .michael-photo {
			width: 100%;
			height: 400px;
		}
		#contact .michael-contact {
			width: 100%;
			min-height: 500px;
		}
		.contact-top blockquote {
			position: relative;
			top: 0;
			margin-bottom: 0;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
		.contact-top p {
			font-size: 24px;
		}
		.contact-top cite {
			font-size: 12px;
		}
		.contact-bottom .email-me {
			position: relative;
			top: 0;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
		.contact-bottom p {
			font-size: 16px;
		}
		#mc_embed_signup input {
			font-size: 22px;
		}
		#mc_embed_signup input[type="submit"] {
			font-size: 18px;
			font-size: 1.8rem;
		}
		
		body {
		font-family: "Sentinel Ssm A", "Sentinel Ssm B", "Helvetica", serif;
		font-size: 24px;
		font-size: 2.4rem;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		}
		
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
		h1 { font-size: 46px; font-size: 4.6rem; line-height: 1.2;}
		h2 { font-size: 38px; font-size: 3.8rem; line-height: 50px; margin-bottom: 50px;}
		h3 { font-size: 35px; font-size: 3.5rem; line-height: 40px; margin-bottom: 10px; }
		h4 { font-size: 28px; font-size: 2.8rem; line-height: 34px; margin-bottom: 8px; }
		h5 { font-size: 21px; font-size: 2.1rem; line-height: 30px; margin-bottom: 4px; }
		h6 { font-size: 17px; font-size: 1.7rem; line-height: 24px; }
		
		.wf-active p { visibility: visible; }
		p { font-size: 24px; font-size: 2.4rem; margin: 0 0 20px 0; line-height: 1.5; }
		p.lead { font-size: 46px; font-size: 4.6rem; line-height: 1.3; font-weight: 800;  }
		
		.lspaced-5, .lspaced-10, .wspaced-10 { letter-spacing: 0; word-spacing: 0; }

		.copyright-props {
			height: auto;
			padding: 20px 20px;
		}
		.copyright-props .copyright, .copyright-props .props {
			top: 0;
			-webkit-transform: translateY(0);
			-ms-transform: translateY(0);
			transform: translateY(0);
		}
		.copyright-props .copyright {
			margin-bottom: 5px;
		}
		.copyright-props .props {
			margin-bottom: 0;
		}
		
		#tarpits, #capitalist, #current-music, #current-reading { width: 85%; padding: 10px; padding: 1rem; }


	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		html { font-size: 7.5px; }
		#about, #social { padding: 60px 80px; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		html { font-size: 7px; }
		header h6 { font-size: 20px; font-size: 2.0rem;}
		#about h6 { font-size: 24px; font-size: 2.4rem; display: inline-block; margin-bottom: 5px;}
		#about .circle { width: 40px; height: 40px; }
	}

	/* Small Desktop */
	@media only screen and (min-width: 981px) and (max-width: 1223px) {
		#about h5 {
			font-size: 15px;
		}
	}

	/* Large Desktop */
	@media only screen and (min-width: 1224px) {
		#about h5 {
			font-size: 22px;
		}
	}