#parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: -900px;
  left: 50%;
  z-index: -10;
  
  img {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -10;
  }
}

.parallax__cover{
  background: #1c0806;
  position: absolute;
  left: 0;
  right: 0;
  height: 2000px;
  z-index: 9999;
}

$parallax__layers: 8;

@for $i from 0 through $parallax__layers {
  $x: ($parallax__layers - $i) / 2;
  .parallax__layer__#{$i}{
     transform: translateZ(-100 * $x#{px}) scale($x + 1);
  }
}